body {
  background: rgba(211, 211, 211, 0.59);
  background-image: url(Bg2.jpg);
  color: white;
}
.hike-city {
  display: none;
}
.hike-dir {
  display: none;
}
.hike-dis {
  display: none;
}
.card-block{

}
#title {
  display: none;
}
#plot {
  display: none;
}
#textInput {
  width: 2em;
}
#textInput2 {
  width: 2em;
}
.rangeOutdoors {
  display: flex;
  justify-content: center;
}
#maxTemp {
  margin-left: 1em;
}
#minTemp {
  margin-left: 1em;
}
#copy {
  color: white;
  text-align: center;
}
.myButton {
	-moz-box-shadow:inset 0px 0px 0px -50px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px -50px #bee2f9;
	box-shadow:inset 0px 0px 0px -50px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:0px 0px 0px #7cacde;
  display: none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.space {
  height: 5em
}
.hikeLoad {
  display: none;
  height: 15vh;
  margin-top: 14vh
}
.movieLoad {
  display: none;
  height: 15vh;

}
#boot {
width: 20vw;

}
